body {
  padding-top: 150px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 400px;
  padding: 15px;
  padding-left: 30px;
  margin: 0 auto;
  border: solid;
  border-radius: 20px;
  border-color: gray;
  border-width: 1px;
  background-color: white;
  color: gray;
  font-family: arial;
  font-size: 12pt;
  font-weight: bold;
}

h2 {
	margin-top:0px;
	margin-bottom: 20px;
}

p {
	text-align: right;
	padding-right: 30px;
}

p#remember_me_holder{
	margin-top: 20px;
}

.btn {
	background-color: #6ACCCB;
	color: white;
	border-color: gray;
}

.login_message {
	color: #F0AD4E;
	padding-bottom: 20px;
}